/* Modal styles */
.modal-dialog {
    max-width: 90%; /* Adjust as needed for responsiveness */
    margin: 1.75rem auto;
}

.modal-content {
    width: 100%;
    max-width: 600px; /* Adjust based on your design needs */
}



.divider {
    border-left: 1px solid #fff;
    height: 24px; /* Adjust the height as needed */
    margin: 0 10px; /* Adjust the spacing around the divider */
    align-self: center;
}